@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.woff2');
}

@font-face {
    font-family: 'bignoodle';
    src: url('../fonts/big_noodle_titling.ttf');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold.ttf');
}

@font-face {
    font-family: 'roboto-thin';
    src: url('../fonts/roboto-thin.ttf');
}

@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto-light.ttf');
}

@font-face {
    font-family: 'fontello2';
    src: url('../fonts/fontello2.woff2');
}

@font-face {
    font-family: 'flaticon';
    src: url('../fonts/flaticon.woff');
}

@font-face {
    font-family: 'roboto-condensed';
    src: url('../fonts/roboto-condensed.ttf');
}

@font-face {
    font-family: 'fontello3';
    src: url('../fonts/fontello3.woff2');
}

@font-face {
    font-family: 'fontello4';
    src: url('../fonts/fontello4.woff2');
}

@font-face {
    font-family: 'fontello5';
    src: url('../fonts/fontello5.woff2');
}