html {
  font-size: 10px;
  z-index: 10; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.header {
  background-color: white;
  position: fixed;
  z-index: 20; }
  .header__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4.6rem 0; }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__name {
    font-size: 4rem;
    font-family: 'bignoodle';
    color: #746868;
    letter-spacing: 5px;
    padding-left: 2.2rem; }
  .header__burger {
    font-size: 4rem;
    font-family: 'fontello';
    color: #746868; }
  .header__img {
    margin-top: 9px; }

.hidden__burger {
  position: fixed;
  font-size: 4rem;
  font-family: 'fontello';
  color: #746868;
  z-index: 20;
  display: none; }

.creative-slider {
  background-color: #353535; }
  .creative-slider__name {
    font-size: 7.2rem;
    font-family: 'bignoodle';
    color: white;
    letter-spacing: 0.8rem;
    text-align: center;
    padding-top: 32.4rem; }
  .creative-slider__subname {
    font-size: 3.6rem;
    font-family: 'bignoodle';
    color: white;
    letter-spacing: 5px;
    text-align: center;
    padding-bottom: 16.8rem; }
  .creative-slider__icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .creative-slider__icon-description {
    font-family: 'roboto-bold';
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 4.4rem; }

.section__header {
  font-size: 4.8rem;
  font-family: 'bignoodle';
  color: #4d4140;
  text-align: center;
  padding-top: 9.3rem;
  letter-spacing: 5px;
  position: relative; }

.section__header:before {
  content: "";
  display: block;
  width: 13%;
  height: 2px;
  background-color: #f4511e;
  position: absolute;
  top: 15.8rem;
  left: 43.5%; }

.section__description {
  font-family: 'roboto-thin';
  font-size: 1.4rem;
  color: #4d4140;
  text-align: center;
  margin: 0 auto;
  padding-top: 2.6rem; }

.about__item {
  padding-top: 9.2rem;
  padding-bottom: 14.3rem;
  color: #7a6e6e; }
.about__icon {
  padding-bottom: 3rem; }
.about__icon svg {
  width: 15%;
  height: 15%;
  fill: #f15324; }
.about__item-name {
  font-family: 'roboto-bold';
  font-size: 1.8rem;
  text-align: center; }
.about__item-description {
  font-family: 'roboto-thin';
  font-size: 1.4rem;
  text-align: center; }

.video__text-block {
  padding-top: 12.9rem;
  padding-bottom: 10rem;
  background-color: #171f23; }
.video__header {
  font-family: 'roboto-bold';
  font-size: 3rem;
  color: white;
  text-align: center;
  padding-bottom: 2.5rem; }
.video__description {
  font-family: 'roboto-thin';
  font-size: 1.4rem;
  color: #655a5a;
  text-align: center;
  padding-bottom: 5rem; }
.video__button {
  width: 12.9rem;
  height: 3.6rem;
  background-color: #e64e40;
  color: white;
  border-bottom: red 2px solid;
  border-left: red 2px solid;
  font-family: 'roboto-thin';
  font-size: 1.4rem;
  font-weight: bold; }
.video__content {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }

.works__menu {
  padding-top: 8.8rem;
  padding-bottom: 3.6rem; }
.works__menu-item {
  font-family: 'roboto-light';
  font-size: 1.4rem;
  color: #5f5352;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 4rem; }
.works__menu-item:hover {
  font-family: 'roboto-bold';
  font-weight: bold;
  border-bottom: 2px solid #f4511e; }
.works__menu-item:first-child {
  margin-left: 0; }

.gallery {
  background-color: #e64e40; }
  .gallery__block {
    padding-top: 2rem;
    padding-bottom: 4rem;
    overflow: hidden; }
  .gallery__item {
    width: 90%;
    background-size: cover;
    height: 17.4rem;
    margin: 5px; }
  .gallery__item1 {
    background-image: url("../img/1.jpg"); }
  .gallery__item2 {
    background-image: url("../img/2.jpg"); }
  .gallery__item3 {
    background-image: url("../img/3.jpg"); }
  .gallery__item4 {
    background-image: url("../img/4.jpg"); }
  .gallery__item5 {
    background-image: url("../img/5.jpg"); }
  .gallery__item6 {
    background-image: url("../img/6.jpg"); }
  .gallery__item7 {
    background-image: url("../img/7.jpg"); }
  .gallery__item8 {
    background-image: url("../img/8.jpg"); }
  .gallery__item9 {
    background-image: url("../img/9.jpg"); }

.slider {
  background-color: #1c1c1c; }
  .slider__logo > img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: top 2s ease-out 0.5s;
    transition: top 2s ease-out 0.5s; }
  .slider__logo:hover > img {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%); }
  .slider__logo-block {
    padding-top: 10.8rem;
    padding-bottom: 7.9rem;
    text-align: center; }

.who-we-are__info-block {
  padding-top: 8.6rem;
  padding-bottom: 10.4rem; }
.who-we-are__info-block-left {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-clip: content-box;
  color: #4d4140; }
.who-we-are__info-block-right {
  background-color: #ebebeb;
  color: #4d4140;
  padding: 9rem 5rem 8rem 6.5rem; }
.who-we-are__circle {
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  background-color: #f26c4f;
  margin-top: 7.9rem; }
.who-we-are__name {
  font-family: 'roboto-bold';
  font-size: 2rem;
  padding-top: 3rem; }
.who-we-are__profession {
  font-family: 'roboto-light';
  font-size: 1.4rem;
  padding-bottom: 2.3rem; }
.who-we-are__socials {
  font-family: 'fontello2';
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  padding-bottom: 13rem; }
.who-we-are-description {
  font-family: 'roboto-thin';
  font-size: 1.4rem;
  padding-bottom: 3.3rem;
  padding-top: 2.5rem; }
.who-we-are__skill-name {
  font-family: 'roboto-bold';
  font-size: 1.4rem;
  width: 20%; }
.who-we-are__skill-count {
  font-family: 'roboto-light';
  font-size: 1.4rem; }
.who-we-are__skill-row {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; }
.who-we-are__skill-progression {
  margin-top: 1rem;
  width: 70%; }
.who-we-are__skill-1-progression-positive {
  width: 88%;
  height: 1px;
  background-color: #f26c4f; }
.who-we-are__skill-1-progression-negative {
  width: 12%;
  height: 1px;
  background-color: white; }
.who-we-are__skill-2-progression-positive {
  width: 92%;
  height: 1px;
  background-color: #f26c4f; }
.who-we-are__skill-2-progression-negative {
  width: 8%;
  height: 1px;
  background-color: white; }
.who-we-are__skill-3-progression-positive {
  width: 90%;
  height: 1px;
  background-color: #f26c4f; }
.who-we-are__skill-3-progression-negative {
  width: 10%;
  height: 1px;
  background-color: white; }
.who-we-are__skill-4-progression-positive {
  width: 98%;
  height: 1px;
  background-color: #f26c4f; }
.who-we-are__skill-4-progression-negative {
  width: 2%;
  height: 1px;
  background-color: white; }

.features {
  background-color: #171f23;
  color: white; }
  .features__header {
    text-align: center;
    font-family: 'roboto-condensed';
    font-size: 3.6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    color: white; }
  .features__header:before {
    content: "";
    display: block;
    width: 8.6rem;
    height: 0.2rem;
    background-color: #4f4343;
    position: absolute;
    top: 11.8rem;
    left: 45.5%; }
  .features__item {
    text-align: center;
    padding-bottom: 6.5rem;
    -webkit-transition: 0.5s ease 0.5s;
    transition: 0.5s ease 0.5s; }
  .features__item:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .features__item-icon {
    font-family: 'flaticon';
    font-size: 5rem;
    color: #f26c4f; }
  .features__item-name {
    font-family: 'roboto-light';
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .features__item-counter {
    font-family: 'roboto-light';
    font-size: 4.8rem; }

.blog__posts {
  padding: 7.2rem 0; }
.blog__item {
  color: #979797; }
.blog__item:hover .blog__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.blog__image1 {
  height: auto;
  min-height: 21.8rem;
  height: 21.8rem;
  background-image: url("../img/blog1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
.blog__image2 {
  height: auto;
  min-height: 21.8rem;
  height: 21.8rem;
  background-image: url("../img/blog2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
.blog__image3 {
  height: auto;
  min-height: 21.8rem;
  background-image: url("../img/blog3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative; }
.blog__header {
  font-family: 'roboto-light';
  font-size: 1.8rem;
  color: #656565;
  background-color: #ebebeb;
  padding: 3.8rem 2.2rem; }
.blog__description {
  font-family: 'roboto-thin';
  font-size: 1.4rem;
  background-color: #ebebeb;
  padding: 0 2.2rem; }
.blog__info {
  font-family: 'roboto-condensed';
  font-size: 1rem;
  background-color: #ebebeb;
  margin: 0;
  padding: 2.6rem 2.2rem; }
.blog__icon {
  font-family: 'fontello3';
  padding-right: 5px;
  padding-left: 5px; }
.blog__options {
  position: absolute;
  z-index: 16;
  top: 8.5rem;
  left: 1rem;
  display: none; }
.blog__link {
  font-family: 'fontello4';
  background-color: #e87e5d;
  color: white;
  font-size: 2.4rem;
  width: 4.3rem;
  min-height: 4.3rem;
  border-radius: 50%;
  padding: 3px 10px;
  margin-right: 1rem; }
.blog__link:last-child {
  margin-right: 0; }
.blog__link:hover {
  background-color: white;
  color: #e87e5d; }

.plans {
  background-color: #171f23; }
  .plans__block {
    padding-bottom: 9.3rem; }
  .plans__item {
    color: white;
    text-align: center;
    background-color: #1f282c;
    max-width: 24%;
    margin-right: 2px;
    padding-bottom: 4.6rem; }
  .plans__item:hover {
    border: #f6744b solid 1px; }
  .plans__item:hover .plans__number {
    color: #f6744b; }
  .plans__name {
    width: 100%;
    font-family: 'roboto-bold';
    font-size: 1.4rem;
    background-color: #0e1316;
    padding-top: 4rem; }
  .plans__cost {
    font-family: 'roboto-light';
    font-size: 3.6rem;
    background-color: #0e1316;
    padding-bottom: 3.5rem;
    margin-bottom: 4.7rem; }
  .plans__info {
    font-family: 'roboto-light';
    font-size: 1.4rem;
    padding-bottom: 2rem; }
  .plans__number {
    font-family: 'roboto-bold';
    font-size: 1.4rem; }
  .plans__button {
    font-family: 'roboto-bold';
    font-size: 1.4rem;
    background-color: #f6744b;
    width: 13rem;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0.8rem;
    border-radius: 5px; }

#orange {
  color: #f6744b; }

.message__input {
  padding-top: 9.6rem; }
.message__label {
  font-family: 'roboto-bold';
  font-size: 1.4rem;
  color: #737373;
  max-width: 49%;
  padding-bottom: 2.6rem; }
.message__form {
  max-width: 49%;
  border: none;
  border-bottom: solid 1px #cacaca;
  margin-bottom: 4rem; }
.message #message__text-form {
  border: none;
  border-bottom: solid 1px #cacaca;
  margin-top: 2.6rem;
  margin-bottom: 5.8rem; }
.message__button {
  font-family: 'roboto-bold';
  font-size: 1.4rem;
  background-color: #f6744b;
  color: white;
  margin-top: 5rem;
  margin-bottom: 8.2rem;
  padding: 1.8rem;
  text-align: center; }

.locate {
  background-color: black; }
  .locate__content {
    padding: 3rem 0; }
  .locate__text {
    font-family: 'roboto-condensed';
    font-size: 2.4rem;
    font-weight: bold;
    color: white; }
  .locate__icon {
    font-family: 'fontello5';
    font-size: 2.4rem;
    color: #f4511e;
    padding-left: 1.6rem; }

.site-footer {
  background-color: #171f23; }
  .site-footer__content {
    text-align: center;
    color: white;
    padding: 5rem 0; }
  .site-footer__header {
    font-family: 'bignoodle';
    font-size: 2.4rem; }
  .site-footer__subheader {
    font-family: 'roboto-condensed';
    font-size: 1.4rem; }
  .site-footer__socials {
    font-family: 'fontello2';
    font-size: 1.5rem;
    letter-spacing: 0.4rem; }

/* Large devices (desktops, 992px and down) */
@media (max-width: 991px) {
  .header__menu {
    padding: 0.6rem 0; }

  .video__content {
    height: 38.2rem; }

  .slider__logo-block {
    padding: 2rem 0; }

  .slider__logo {
    padding-bottom: 0.5rem; }

  .creative-slider__name {
    padding-top: 19.4rem; }

  .creative-slider__subname {
    padding-bottom: 4.8rem; }

  .section__header {
    padding-top: 2.3rem; }

  .section__header:before {
    top: 8.8rem; }

  .section__description {
    padding-top: 0.6rem; }

  .about__item {
    padding: 4.2rem 0; }

  .video__text-block {
    padding-top: 3.9rem;
    padding-bottom: 5rem; }

  .works__menu {
    padding: 3.6rem 0; }

  .who-we-are__info-block {
    padding: 2.6rem 0; }

  .who-we-are__info-block-left {
    background-clip: unset;
    margin-bottom: 1rem; }

  .who-we-are__circle {
    margin-top: 2.9rem; }

  .who-we-are__socials {
    padding-bottom: 3rem; }

  .who-we-are__info-block-right {
    padding-top: 0;
    padding-bottom: 4rem; }

  .features__header {
    padding: 4rem 0; }

  .features__header:before {
    top: 9.8rem;
    left: 43.5%; }

  .blog__posts {
    padding: 3.2rem 0; }

  .blog__item {
    margin-bottom: 1rem; }

  .plans__block {
    padding-bottom: 4.3rem; }

  .message__button {
    margin-top: 0;
    margin-bottom: 3.2rem;
    padding: 1rem 0rem; } }
/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
  html {
    font-size: 8px; } }
/* Small devices (landscape phones, 576px and down)& */
@media (max-width: 575px) {
  .works__menu-item {
    width: 51%;
    margin: 0;
    letter-spacing: 3px; }

  .works__menu {
    padding: 1rem 0; }

  .about__item {
    padding: 2.2rem 0; }

  #river {
    margin-left: -21px;
    margin-top: 6px; }

  #hive {
    margin-left: -39px;
    margin-top: -5px; }

  .plans__item {
    max-width: 48%; }

  form {
    padding: 0px 18px; }

  .message__input {
    padding-top: 2.6rem; }

  .header {
    display: none; }

  .creative-slider__name {
    padding-top: 6.4rem; }

  .hidden__burger {
    display: block;
    margin-left: 1rem; }

  .who-we-are__info-block-right {
    padding: 0 1rem;
    padding-left: 21px; }

  .who-we-are__skill-progression {
    width: 50%; } }

/*# sourceMappingURL=styles.css.map */