
$color1: white;
$color2: #746868;
$color3: #4d4140;
$color4: #171f23;





html {
    font-size: 10px;
    z-index: 10;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.header {
    background-color: $color1;
    position: fixed;
    z-index: 20;
    
    &__menu {
        justify-content: space-between;
        padding: 4.6rem 0;
        
    }

    &__logo {
        display: flex;
    }

    &__name {
        font-size: 4rem;
        font-family: 'bignoodle';
        color: $color2;
        letter-spacing: 5px;
        padding-left: 2.2rem;
    }

    &__burger {
        font-size: 4rem;
        font-family: 'fontello';
        color: $color2;
    }

    &__img {
        margin-top: 9px;
    }
}

.hidden__burger {
    position: fixed;
    font-size: 4rem;
    font-family: 'fontello';
    color: $color2;
    z-index: 20;
    display: none;
}



.creative-slider {
    background-color: #353535;
    &__name {
        font-size: 7.2rem;
        font-family: 'bignoodle';
        color: $color1;
        letter-spacing: 0.8rem;
        text-align: center;
        padding-top: 32.4rem;
    }

    &__subname {
        font-size: 3.6rem;
        font-family: 'bignoodle';
        color: $color1;
        letter-spacing: 5px;
        text-align: center;
        padding-bottom: 16.8rem;
    }
    
    &__icon {
        justify-content: center;
    }
    
    &__icon-description {
        font-family: 'roboto-bold';
        color: $color1;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 1.8rem;
        padding-bottom: 4.4rem;
    }
}


.section__header {
    font-size: 4.8rem;
    font-family: 'bignoodle';
    color: $color3;
    text-align: center;
    padding-top: 9.3rem;
    letter-spacing: 5px; 
    position:relative;
}

.section__header:before {
    content:"";
    display: block;
    width: 13%;
    height: 2px;
    background-color: #f4511e;
    position: absolute;
    top: 15.8rem;
    left: 43.5%;

}

.section__description {
    font-family: 'roboto-thin';
    font-size: 1.4rem;
    color:$color3;
    text-align: center;
    margin: 0 auto;
    padding-top: 2.6rem;
}

.about {
    &__item {
        padding-top: 9.2rem;
        padding-bottom: 14.3rem;
        color: #7a6e6e;
    }

    &__icon {
        padding-bottom: 3rem;
    }

    &__icon svg {
        width: 15%;
        height: 15%;
        fill: #f15324;
    }

    &__item-name {
        font-family: 'roboto-bold';
        font-size: 1.8rem;
        text-align: center;
    }

    &__item-description {
        font-family: 'roboto-thin';
        font-size: 1.4rem;
        text-align: center; 
    }
}

.video {
    &__text-block {
        padding-top: 12.9rem;
        padding-bottom: 10rem;
        background-color: $color4;
    }

    &__header {
        font-family: 'roboto-bold';
        font-size: 3rem;
        color: $color1;
        text-align: center;
        padding-bottom: 2.5rem;
    }

    &__description {
        font-family: 'roboto-thin';
        font-size: 1.4rem;
        color: #655a5a;
        text-align: center;
        padding-bottom: 5rem;
    }

    &__button {
        width:12.9rem;
        height: 3.6rem;
        background-color: #e64e40; 
        color: $color1;
        border-bottom: red 2px solid;
        border-left: red 2px solid ;
        font-family: 'roboto-thin';
        font-size: 1.4rem;
        font-weight: bold;

    }

    &__content {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    }
}

.works {

    &__menu {
        padding-top: 8.8rem;
        padding-bottom: 3.6rem;
    }

    &__menu-item {
        font-family: 'roboto-light';
        font-size: 1.4rem;
        color: #5f5352;
        text-align: center;
        letter-spacing: 1px;
        margin-left: 4rem;
        
    }

    &__menu-item:hover {
        font-family: 'roboto-bold';
        font-weight: bold;
        border-bottom: 2px solid #f4511e;
    }

    &__menu-item:first-child {
        margin-left: 0;
    }
}

.gallery {
    background-color: #e64e40;  
    &__block {
        padding-top: 2rem;
        padding-bottom : 4rem;
        overflow: hidden;
    }
    &__item {
        width: 90%;
        background-size: cover;
        height: 17.4rem;
        margin:5px;  
    }
    
    
    &__item1 {
        background-image: url('../img/1.jpg');
    }
    
    &__item2 {
        background-image: url('../img/2.jpg');   
    }
    
    &__item3 {
        background-image: url('../img/3.jpg');
    }
    
    &__item4 {
        background-image: url('../img/4.jpg');
    }
    
    &__item5 {
        background-image: url('../img/5.jpg');
    }
    
    &__item6 {
        background-image: url('../img/6.jpg');
    }
    
    &__item7 {
        background-image: url('../img/7.jpg');
    }
    
    &__item8 {
        background-image: url('../img/8.jpg');
    }
    
    &__item9 {
        background-image: url('../img/9.jpg');
    }
}

.slider {
    background-color: #1c1c1c;
    
    &__logo > img{
        filter: grayscale(100%);
        transition: top 2s ease-out 0.5s;
        
    }
    
    &__logo:hover > img{
        filter: grayscale(0%);
    }
    
    &__logo-block {
        padding-top: 10.8rem;
        padding-bottom: 7.9rem;
        text-align: center;
    }
}

.who-we-are {
    &__info-block {
        padding-top: 8.6rem;
        padding-bottom: 10.4rem;
    }
    
    &__info-block-left {
        background-color: #ebebeb;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-clip: content-box;
        color: $color3;
        
        
       
    }
    
    &__info-block-right {
        background-color: #ebebeb;
        color: $color3;
        padding: 9rem 5rem 8rem 6.5rem;
        
       
    }
    
    &__circle {
        width: 13.5rem;
        height: 13.5rem;
        border-radius: 50%;
        background-color: #f26c4f;
        margin-top:7.9rem;
    }
    
    &__name {
        font-family: 'roboto-bold';
        font-size: 2rem;
        padding-top: 3rem;
        
    }
    
    &__profession {
        font-family: 'roboto-light';
        font-size: 1.4rem;
        padding-bottom: 2.3rem;
    }
    
    &__socials {
        font-family: 'fontello2';
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
        padding-bottom: 13rem;
    }
    
    &-description {
        font-family: 'roboto-thin';
        font-size: 1.4rem;
        padding-bottom: 3.3rem;
        padding-top: 2.5rem;
    }
    
    &__skill-name {
        font-family: 'roboto-bold';
        font-size: 1.4rem;
        width: 20%;
    }
    
    
    &__skill-count {
        font-family: 'roboto-light';
        font-size: 1.4rem; 
    }
    
    &__skill-row {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    &__skill-progression {
        margin-top: 1rem;
        width: 70%;
    }
    
    &__skill-1-progression-positive {
        width: 88%;
        height: 1px;
        background-color: #f26c4f;
    }
    
    &__skill-1-progression-negative {
        width: 12%;
        height: 1px;
        background-color: $color1;
    }
    
    
    
    &__skill-2-progression-positive {
        width: 92%;
        height: 1px;
        background-color: #f26c4f;
    }
    
    &__skill-2-progression-negative {
        width: 8%;
        height: 1px;
        background-color: $color1;
    }
    
    
    
    &__skill-3-progression-positive {
        width: 90%;
        height: 1px;
        background-color: #f26c4f;
    }
    
    &__skill-3-progression-negative {
        width: 10%;
        height: 1px;
        background-color: $color1;
    }
    
    
    
    &__skill-4-progression-positive {
        width: 98%;
        height: 1px;
        background-color: #f26c4f;
    }
    
    &__skill-4-progression-negative {
        width: 2%;
        height: 1px;
        background-color: $color1;
    }

}

.features {
    background-color: $color4;
    color: $color1;

    &__header {
        text-align: center;
        font-family: 'roboto-condensed';
        font-size: 3.6rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        position: relative;
        color: $color1;
    
    }
    
    &__header:before {
        content: "";
        display: block;
        width: 8.6rem;
        height: 0.2rem;
        background-color: #4f4343;
        position: absolute;
        top: 11.8rem;
        left: 45.5%;
    }
    
    &__item {
        text-align: center;
        padding-bottom: 6.5rem;
        transition: 0.5s ease 0.5s
    }
    
    &__item:hover {
        transform: scale(1.2)
    }
    
    &__item-icon {
        font-family: 'flaticon';
        font-size: 5rem;
        color: #f26c4f;
    }
    
    &__item-name {
        font-family: 'roboto-light';
        font-size: 1.8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    &__item-counter {
        font-family: 'roboto-light';
        font-size: 4.8rem;
    }
}


.blog {

    &__posts {
        padding: 7.2rem 0;
    }

    &__item {
        color: #979797;
    }

    &__item:hover  .blog__options {
        display: flex;
        
    }

    &__image1 {
        height: auto;
        min-height: 21.8rem;
        height: 21.8rem;
        background-image: url('../img/blog1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }

    &__image2 {
        height: auto;
        min-height: 21.8rem;
        height: 21.8rem;
        background-image: url('../img/blog2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    &__image3 {
        height: auto;
        min-height: 21.8rem;
        background-image: url('../img/blog3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: relative;
    }

    &__header {
        font-family: 'roboto-light';
        font-size: 1.8rem;
        color: #656565;
        background-color: #ebebeb;
        padding: 3.8rem 2.2rem;
    }

    &__description {
        font-family: 'roboto-thin';
        font-size: 1.4rem;
        background-color: #ebebeb;
        padding: 0 2.2rem;
    }

    &__info {
        font-family: 'roboto-condensed';
        font-size: 1rem;
        background-color: #ebebeb;
        margin: 0;
        padding: 2.6rem 2.2rem;
    }

    &__icon {
        font-family: 'fontello3';
        padding-right: 5px;
        padding-left: 5px;
    }

    &__options {
        position: absolute;
        z-index: 16;
        top:8.5rem;
        left:1rem;
        display:none;
    }

    &__link {
        font-family: 'fontello4';
        background-color: #e87e5d;
        color: $color1;
        font-size: 2.4rem;
        width: 4.3rem;
        min-height: 4.3rem;
        border-radius: 50%;
        padding: 3px 10px;
        margin-right:1rem;
    }
    &__link:last-child {
        margin-right:0;
    }

    &__link:hover {
        background-color: $color1;
        color:#e87e5d;
    }
}

.plans {
    background-color: $color4;
    &__block {
        padding-bottom: 9.3rem;
    }
    &__item {
        color: $color1;
        text-align: center;
        background-color: #1f282c;
        max-width: 24%;
        margin-right: 2px;
        padding-bottom: 4.6rem;
    
    }
    
    &__item:hover {
        border: #f6744b solid 1px;
    }
    
    &__item:hover .plans__number {
        color: #f6744b;
    }
    
    &__name {
        width: 100%;
        font-family: 'roboto-bold';
        font-size: 1.4rem;
        background-color: #0e1316;
        padding-top: 4rem;
    }
    
    &__cost {
        font-family: 'roboto-light';
        font-size: 3.6rem;
        background-color: #0e1316;
        padding-bottom: 3.5rem;
        margin-bottom: 4.7rem;
    }
    
    &__info {
        font-family: 'roboto-light';
        font-size: 1.4rem;
        padding-bottom: 2rem;
        
    }
    
    &__number {
        font-family: 'roboto-bold';
        font-size: 1.4rem;
    }
    
    &__button {
        font-family: 'roboto-bold';
        font-size: 1.4rem;
        background-color: #f6744b;
        width: 13rem;
        margin: 0 auto;
        margin-top: 5rem;
        padding: 0.8rem;
        border-radius: 5px;}   
}

#orange {
    color: #f6744b;
}

.message {
    &__input {
        padding-top: 9.6rem;
    }
    
    &__label {
        font-family: 'roboto-bold';
        font-size: 1.4rem; 
        color:#737373;
        max-width: 49%;
        padding-bottom: 2.6rem;
    }
    
    &__form {
       max-width: 49%;
       border:none;
       border-bottom: solid 1px #cacaca;
       margin-bottom: 4rem;
    }
    #message__text-form {
        border:none;
        border-bottom: solid 1px #cacaca;
        margin-top:2.6rem;
        margin-bottom: 5.8rem;
    }
    
    &__button {
        font-family: 'roboto-bold';
        font-size: 1.4rem;
        background-color: #f6744b;
        color: $color1;
        margin-top: 5rem;
        margin-bottom: 8.2rem;
        padding: 1.8rem;
        text-align: center;
    }
}


.locate {
    background-color: black;
    &__content {
        padding: 3rem 0;
    }
    &__text {
        font-family: 'roboto-condensed';
        font-size: 2.4rem;
        font-weight: bold;
        color: $color1;
    }
    
    &__icon {
        font-family: 'fontello5';
        font-size: 2.4rem;
        color: #f4511e;
        padding-left: 1.6rem;
    }
    
}

.site-footer {
    background-color: $color4;
    &__content {
        text-align: center;
        color: $color1;
        padding: 5rem 0;
    }
    
    &__header {
        font-family: 'bignoodle';
        font-size: 2.4rem;
    }
    
    &__subheader {
        font-family: 'roboto-condensed';
        font-size: 1.4rem;
    }
    
    &__socials {
        font-family: 'fontello2';
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
         
    }
}










/* Large devices (desktops, 992px and down) */
@media (max-width: 991px) {
    .header__menu {
        padding: 0.6rem 0;
    }
    
    .video__content {
        height: 38.2rem;
    }

    .slider__logo-block {
        padding: 2rem 0;
    }
    .slider__logo {
        padding-bottom: 0.5rem;
    }

    .creative-slider__name {
        padding-top: 19.4rem;
    }
    .creative-slider__subname {
        padding-bottom: 4.8rem;
    }

    .section__header {
        padding-top: 2.3rem;
    }
    .section__header:before {
        top: 8.8rem;
    }

    .section__description {
        padding-top: 0.6rem;
    }

    .about__item {
        padding: 4.2rem 0
    }

    .video__text-block {
        padding-top: 3.9rem;
        padding-bottom: 5rem;
    }

    .works__menu {
        padding: 3.6rem 0;
    }

    .who-we-are__info-block {
        padding: 2.6rem 0;
    }

    .who-we-are__info-block-left {
        background-clip: unset;
        margin-bottom: 1rem;
    }
    .who-we-are__circle {
        margin-top: 2.9rem;
    }
    .who-we-are__socials {
        padding-bottom: 3rem;
    }

    .who-we-are__info-block-right {
        padding-top: 0;
        padding-bottom: 4rem;
    }
    .features__header {
        padding: 4rem 0;
    }
    .features__header:before {
        top: 9.8rem;
        left: 43.5%;
    }

    .blog__posts {
        padding: 3.2rem 0;
    }
    .blog__item {
        margin-bottom: 1rem;
    }
    .plans__block {
        padding-bottom: 4.3rem;
    }

    .message__button {
        margin-top: 0;
        margin-bottom: 3.2rem;
        padding: 1rem 0rem;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    html {
        font-size: 8px;
    }
   }

   /* Small devices (landscape phones, 576px and down)& */
@media (max-width: 575px) { 
    .works__menu-item {
        width: 51%;
        margin:0;
        letter-spacing: 3px;
    }

    .works__menu {
        padding: 1rem 0;
    }

    .about__item {
        padding: 2.2rem 0;
    }

    #river {
        margin-left: -21px;
        margin-top: 6px;
    }

    #hive {
        margin-left: -39px;
        margin-top: -5px;
    }
    .plans__item {
        max-width:48%;
    }

    form {  
    padding: 0px 18px;
    }

    .message__input {
        padding-top: 2.6rem;
    }

    .header {
        display: none;
    }

    .creative-slider__name {
        padding-top: 6.4rem;
    }

    .hidden__burger {
        display: block;
        margin-left: 1rem;
    }

    .who-we-are__info-block-right {
        padding: 0 1rem;
        padding-left: 21px;
    }

    
    .who-we-are__skill-progression {
        width: 50%;
    }
}